<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning"
    package="com.example.tddinandroid">

    <application android:allowBackup="false">
        <activity
            android:name=".hilt.HiltTestActivity"
            android:exported="false"
            />
    </application>

</manifest>